<div class="page">
    <openlmis-breadcrumbs></openlmis-breadcrumbs>
    <div ui-view>
        <div ui-view>
            <h2>View Demand Forecasting</h2>

            <form class="sidebar" ng-submit="vm.search()">
                <label for="facility">{{'requisitionSearch.facility' | message}}</label>
                <select id="facility" placeholder="{{'requisitionSearch.selectFacility' | message}}"
                        ng-model="vm.selectedFacility"
                        ng-options="facility as facility.name for facility in vm.facilities"
                        required>
                </select>
                <input class="btn btn-primary" type="submit" value="{{'requisitionSearch.search' | message}}"/>
            </form>
            <section class="openlmis-table-container">
                <form class="openlmis-table-filters" ng-submit="vm.search()">
                    <label for=status>{{'requisitionSearch.status' | message}}</label>
                    <select id="status" placeholder="{{'requisitionSearch.selectStatus' | message}}"
                            ng-options="status.label as status.label | requisitionStatus for status in vm.statuses"
                            ng-model="vm.selectedStatus">
                    </select>
                    <fieldset>
                        <legend>{{'requisitionSearch.dateInitiated' | message}}</legend>
                        <label for=startDate>{{'requisitionSearch.from' | message}}</label>
                        <input id="startDate" type="date" ng-model="vm.startDate" max-date="vm.endDate"/>
                        <label for=endDate>{{'requisitionSearch.to' | message}}</label>
                        <input id="endDate" type="date" ng-model="vm.endDate" min-date="vm.startDate"/>
                    </fieldset>
                    <input class="btn btn-primary" type="submit" value="{{'requisitionSearch.search' | message}}"/>
                </form>
                <table>
                    <caption ng-if="!vm.requisitions.length">
                        {{'requisitionSearch.noRequisitionsFound' | message}}
                    </caption>
                    <caption ng-if="!vm.facilities.length">
                        {{'requisitionSearch.noFacilitiesFound' | message}}
                    </caption>
                    <caption ng-if="vm.selectedFacility && !vm.selectedFacility.supportedPrograms">
                        {{'requisitionSearch.noProgramsForFacility' | message}}
                    </caption>
                    <thead>
                    <tr>
                        <th>{{'buq.facilityName' | message}}</th>
                        <th>{{'buq.forecastedPeriod' | message}}</th>
                        <th>{{'buq.quantificationPeriod' | message}}</th>
                        <th>{{'buq.forecastingStatus' | message}}</th>
                        <th class="col-sticky sticky-right">{{'requisitionSearch.actions'| message}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="requisition in vm.requisitions">
                        <td>{{requisition.facilityName}}</td>
                        <td>{{requisition.targetYear}}</td>
                        <td>{{requisition.processingPeriod}}</td>
                        <td>{{requisition.status}}</td>
                        <td>
                            <button class="primary" ng-click="vm.openRnr(requisition)">{{'buq.viewForecastingForm' | message}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
<!--
                <openlmis-pagination/>
-->
            </section>
        </div>
    </div>

</div>