<h2>{{vm.buqSpecialization.name}} {{'buqSpecializationFacilityList.facilities' | message}} </h2>

<form class="form-inline" ng-submit="vm.addFacility()" reload-form>
    <div class="form-group">
        <label for="facility-select">{{'equipmentContractAdd.facility' | message}}</label>
        <select id="facility-select"
                ng-options="vm.toFacilityIdName(facility.id) for facility in vm.facilities"
                required
                ng-model="vm.selectedFacility">
        </select>
    </div>

    <button type="submit" class="add">{{'equipmentContractAdd.addFacility' | message}}</button>
</form>
<form name="saveBuqSpecializationFacilitiesForm" id="saveBuqSpecializationFacilities"
      class="form-inline" ng-submit="vm.saveBuqSpecialization()">
    <section class="openlmis-table-container">
        
        <table>
            <caption
                    ng-if="!vm.buqSpecFacilities || vm.buqSpecFacilities.length === 0">
                {{'buqSpecializationFacilityList.noMatchesForSpecializationFacility' | message}}
            </caption>
            <thead>
            <tr>
                <th>{{'buqSpecializationFacilityList.code' | message}}</th>
                <th>{{'buqSpecializationFacilityList.name' | message}}</th>
                <th>{{'buqSpecializationFacilityList.actions' | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="facility in vm.buqSpecFacilitiesPage">
                <td>{{facility.code}}</td>
                <td>{{facility.name}}</td>
                <td>
                    <button ng-click="vm.removeFacility(facility)" id="remove_{{$index}}"
                            type="button" class="danger">
                        {{'buqSpecializationFacilityList.remove' | message}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <openlmis-pagination list="vm.buqSpecFacilities"
                             paged-list="vm.buqSpecFacilitiesPage"
                             pagination-id="'buqSpecFacilityList'"/>
    </section>
</form>

<div class="openlmis-toolbar">
    <button ng-click="vm.goToSpecializationList()">{{'buqSpecializationFacilityList.cancel' |
        message}}
    </button>
    <div class="button-group primary">
        <button class="primary" type="submit" form="saveBuqSpecializationFacilities">
            {{'buqSpecializationFacilityList.save' | message}}
        </button>
    </div>
</div>