<div class="view-tab openlmis-table-container" ng-show="vm.malariaLineItems.length > 0">
    <table>
        <thead>
        <tr>
            <th class="col-{{column.name}}" ng-repeat="column in vm.columns | filter:{left:'true'}">
                {{column.label | message}}
            </th>
            <th class="col-{{column.name}}" ng-repeat="column in vm.columns | filter:{ left:'false'}">
                {{column.label | message}}
            </th>
        </tr>
        </thead>

        <tbody ng-repeat="rnrLineItem in vm.malariaLineItems">
        <tr>
            <td class="cell-input col-{{ column.name }}" ng-repeat="column in vm.columns | filter:{left:'true'}">
                    <span ng-switch on="column.name">
                        <span ng-switch-when="productCode">
                            <span ng-bind="(rnrLineItem[column.name])" id="{{getId(column.name, $parent)}}"
                                  class="cell-text"></span>
                        </span>
                        <span ng-switch-when="fullProductName">
                            <span ng-bind="(rnrLineItem[column.name])" id="{{getId(column.name, $parent)}}"
                                  class="cell-text"></span>
                        </span>
                        <span ng-switch-when="dispensingUnit">
                            <span ng-bind="(rnrLineItem[column.name])" id="{{getId(column.name, $parent)}}"
                                  class="cell-text" style="text-align: center"></span>
                        </span>
                    </span>
            </td>
            <td class="cell-input col-{{ column.name }}" ng-repeat="column in vm.columns | filter:{left:'false'}"
                style="text-align: right !important;">
                                    <span ng-switch on="column.name">
                                                                <span ng-switch-when="totalPatient"
                                                                      style="text-align: right !important;">
                            <span ng-bind="vm.formatNumber(rnrLineItem[column.name])"
                                  id="{{getId(column.name, $parent)}}"
                                  class="cell-text"></span>
                        </span>
                        <span ng-switch-when="totalConsumption" style="text-align: right !important;">
                            <span ng-bind="vm.formatNumber(rnrLineItem[column.name])"
                                  id="{{getId(column.name, $parent)}}"
                                  class="cell-text"></span>
                        </span>
                                    </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="openlmis-pagination">
    <div class="pagination-info">
        {{:: 'openlmisPagination.showingItemsOutOf' | message: {
        'items': vm.numberOfItemsInTheTable, 'total':
        vm.numberOfItemsInTheTable
    } }}
    </div>
    <ul>
        <li class="disabled">
            <a>
                {{:: 'openlmisPagination.previous' | message}}
            </a>
        </li>
        <li class="active" ng-class="{invalid: vm.isFormInvalid}">
            <a>1</a>
        </li>
        <li class="disabled">
            <a>
                {{:: 'openlmisPagination.next' | message}}
            </a>
        </li>
    </ul>
</div>