<form id="add-program-form" class="form-inline" ng-submit="vm.addProgram()" reload-form>
    <div class="form-group">
        <label for="program">{{'adminFacilityView.program' | message}}</label>
        <select id="program" ng-model="vm.selectedProgram"
                ng-options="program as program.name for program in vm.programs"
                required>
        </select>
    </div>
    <div class="form-group">
        <label for="start-date">{{'adminFacilityView.startDate' | message}}</label>
        <input id="start-date" type="date" ng-model="vm.selectedStartDate" required/>
    </div>
    <button type="submit" class="add">{{'adminFacilityView.add' | message}}</button>
</form>
<form id="associatedPrograms" class="openlmis-table-container" ng-submit="vm.saveFacilityWithPrograms()">
    <table>
        <caption ng-if="!vm.facilityWithPrograms.supportedPrograms || vm.facilityWithPrograms.supportedPrograms.length === 0">
            {{'adminFacilityView.noAssociatedPrograms' | message: {facility: vm.facility.name} }}
        </caption>
        <thead>
        <tr>
            <th>{{'adminFacilityView.program' | message}}</th>
            <th>{{'adminFacilityView.active' | message}}</th>
            <th openlmis-popover="{{'adminFacilityView.startDate.description' | message}}">{{'adminFacilityView.startDate' | message}}</th>
            <th>{{'adminFacilityView.locallyFulfill' | message}}</th>
            <th>{{'adminFacilityView.action' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="program in vm.facilityWithPrograms.supportedPrograms">
            <td>{{program.name}}</td>
            <td><input type="checkbox" ng-model="program.supportActive"/></td>
            <td><input type="date" ng-model="program.supportStartDate"/></td>
            <td><input type="checkbox" ng-model="program.supportLocallyFulfilled"/></td>
            <td>
                <button class="danger" ng-click="vm.deleteProgramAssociate(program)">
                    {{'adminFacilityView.deleteProgramAssociate' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</form>