@import '../../../common/mixins';

$accent-color: #49baeb;
$light-grey: #bebebe;

.admin-buq {
  .element-create-form {
    .section {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }

  .page-responsive .page-header-responsive {
    background: #F0F0F0;
    padding: 0.5em 1em;

    h2 {
      border-bottom: none;
      font-weight: bold;
    }
  }

  .bottom-bar {
    border-top: #F0F0F0 1px solid;
    padding: 1em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .text-field {
    box-shadow: inset 0 0 0.5em #bebebe;
    border: 1px solid #bebebe;
    background-color: inherit;
    border-radius: 4px;
    padding: 0.5em;

    &:focus {
      outline: none;
      border-color: $accent-color;
      box-shadow: inset 0 0 0.5em $accent-color;
    }
  }

  .text-field.description-field {
    height: 6.5em;
  }

  .text-field.remarks-name-field,
  .text-field.sof-name-field {
    width: 20em;
  }

  .invalid-name {
    margin: 0;
    display: flex;
    width: 100%;
    border-left: #a94442 0.25em solid;
    padding-left: 0.5em;
    font-weight: bold;
    color: #a94442;
    font-style: normal;
  }

  .invalid-field {
    box-shadow: inset 0 0 0.5em #a94442;
  }

  .exclamation-mark {
    display: block;

    &::after {
      color: $brand-danger;
      content: "\f06a";
      font-family: FontAwesome;
      display: inline-block;
      @include margin-left(-2em);
      margin-top: 0.5em;
      position: fixed;
      @include text-align(right);
    }
  }

  .disabled-button {
    cursor: not-allowed !important;
  }
}