.header > .openlmis-header.is-offline > .title {
  color: $white;
}

.auth-modal .modal-body {
  background-image: url('../assets/branding-tanzania/logo1.png') !important;
  background-size: auto !important;
  background-position: $space-size*6 $space-size !important;
  min-height: 258px + $space-size !important;
}
