.word-break {
  word-break: break-all;
}

.details-block-container {
  display: flex;
  margin-top: 16px;
  border-radius: 4px;
  border: 1px solid #bebebe;
  background: #f0f0f0;
  width: fit-content;

  .element {
    padding: 16px;
  }
}

.full-width {
  width: 100%;
}

.table-empty-message {
  border-radius: 4px;
  border: 1px solid #bebebe;
  background: #f0f0f0;
  padding: 16px;
  width: 100%;
  font-style: italic;
}

.buq {
  .suggestions-input {
    border: 1px $border-color solid;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0.5em $border-color;
    width: auto;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 36px;
    height: 36px;
    cursor: pointer;

    .disabled {
      cursor: not-allowed;
    }

    input {
      all: unset;
      text-indent: 25px;
      padding-right: 2em;
      position: relative;
      &:focus {
        box-shadow: none;
        text-indent: 25px;
      }
    }

    input.not-selected {
      background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
      background-position: 10px 1em, 14px 1em;
      background-size: 5px 5px, 5px 5px;
      background-repeat: no-repeat;
      width: 100%;
    }

    input.selected {
      background-image: linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, gray 50%);
      background-position: 14px 1em, 10px 1em;
      background-size: 5px 5px, 5px 5px;
      background-repeat: no-repeat;
      width: 100%;
    }

    input::placeholder {
      color: #333333;
      opacity: 1;
    }

    button {
      all: unset;
      color: #bebebe;
      right: 0.5em;
    }

    button,
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .clear-icon:hover {
      color: #a94442;
    }

    &:focus-within {
      box-shadow: inset 0 0 0.5em $brand-primary;
    }

    &.is-invalid {
      box-shadow: inset 0 0 0.5em $brand-danger;

      &::after {
        content: '\f06a';
        color: $brand-danger;
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        height: 1em;
        width: 1em;
        position: absolute;
        top: 50%;
        right: 0.5em;
        transform: translateY(-50%);
      }
    }
  }

  .suggestions-results {
    position: absolute;
    max-height: 150px;
    width: 100%;
    overflow: auto;
    border-radius: 4px;
    border: 1px solid #bebebe;

    .suggestions-result {
      background: white;
      border: none;
      border-radius: 0px;
      text-align: left;
      min-height: 36px;
      width: 100%;
      overflow-wrap: break-word;

      &:hover {
        background-color: $link-color;
        color: #fff;
      }

      &.selected-value {
        background-color: #f0f0f0;
      }

      &.selected-value:hover {
        background-color: $link-color;
        color: #fff;
      }

      &.first-level {
        font-weight: bolder;
      }

      &.second-level {
        font-weight: bold;
        padding-left: 25px;
        font-size: 13px;
      }

      &.third-level {
        padding-left: 35px;
        font-size: 13px;
      }
    }
  }
}

.input-invalid {
  border-left: #a94442 0.25em solid;
  color: #a94442;
  font-style: normal;
  padding-left: 0.5em;
  padding-bottom: 0;
  margin-top: 0.5em;
  font-weight: 700;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  white-space: nowrap;
  visibility: hidden;
  width: auto;
  background-color: #fff;
  color: #000;
  text-align: start;
  border-radius: 4px;
  padding: 8px 30px 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.4s ease;
  font-size: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid #ccc;

  .close-tooltip {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
}

.tooltip.show {
  visibility: visible;
  opacity: 1;
}

.action-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 16px;
  justify-content: space-between;
  z-index: 20;

  .left-section {
    display: flex;
    gap: 16px;
  }

  .total-cost {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin: 5px 0;
    display: flex;
    align-self: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
  }

  .proceed {
    border-radius: 4px;
    border: 1px solid $mw-teal;
    background: $mw-teal;
    color: #fff;
    text-shadow: 0 0 0.1em #333;
    background-image: linear-gradient(to bottom, #1eb2bb, #1b9da5 10%, #17888f);

    &:hover {
      background-image: none;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  margin: 30px auto;
  border-radius: 4px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.source-of-fund-modal {
  width: 800px;
  border-radius: 0px;
}

.react-table-container-scroll {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  margin-top: 16px;

  .react-table-content-scroll {
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 0.5em;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /* For Firefox */
    scrollbar-color: #888 #f1f1f1;
  }
}

.button-with-validation {
  position: relative;

  &.exclamation-mark::after {
    color: $brand-danger;
    content: '\f06a';
    font-family: FontAwesome;
    display: inline-block;
    text-align: right;
    margin-left: 0.5em;
  }
}

.moh-approve-region-buq {
  thead > tr > th:first-child {
    padding: 20px 20px;
  }
}

.moh-approve-buq {
  thead > tr > th:first-child {
    padding: 10px 10px;
  }

  thead > tr > th:last-child {
    padding: 10px 10px;
  }

  tbody > td:first-child > i {
    margin: auto;
    margin-top: 25%;
  }
}

.moh-approve-buq-content {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.moh-approve-buq-region {
  thead > tr > th:first-child {
    padding: 10px 10px;
  }

  thead > tr > th:nth-child(2) {
    padding: 10px 10px;
  }

  thead > tr > th:last-child {
    padding: 10px 10px;
  }

  tbody > td:nth-child(2) > i {
    margin: auto;
    margin-top: 25%;
  }
}

.filter-component {
  width: 350px;
  position: relative;
  padding-top: 15px;

  .openlmis-table-filters.popover {
    position: absolute;
    top: 55px;
  }

  .web-popover-content {
    padding: 0.5em;
  }
}

.checkbox-component-container {
  line-height: initial;
}
