<h2>{{'adminGeographicZoneAdd.geographicZones' | message}}</h2>
<section class="openlmis-table-container">
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="name">{{'adminGeographicZoneAdd.name' | message}}</label>
            <input type="text" id="name" ng-model="vm.name"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="parent">{{'adminGeographicZoneAdd.parent' | message}}</label>
            <select id="parent"
                    ng-options="parent.id as parent.name for parent in vm.geographicZones"
                    ng-model="vm.parent">
            </select>
        </fieldset>
        <input type="submit" value="{{'adminGeographicZoneAdd.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.filteredGeographicZones || vm.filteredGeographicZones.length === 0">
            {{'adminGeographicZoneAdd.noGeographicZones' | message}}
        </caption>
        <thead>
            <tr>
                <th>{{'adminGeographicZoneAdd.name' | message}}</th>
                <th>{{'adminGeographicZoneAdd.code' | message}}</th>
                <th>{{'adminGeographicZoneAdd.level' | message}}</th>
                <th>{{'adminGeographicZoneAdd.parent' | message}}</th>
                <th>{{'adminGeographicZoneAdd.actions' | message}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="geographicZone in vm.filteredGeographicZones">
                <td>{{geographicZone.name}}</td>
                <td>{{geographicZone.code}}</td>
                <td>{{geographicZone.level.code}}</td>
                <td>{{geographicZone.parent.name}}</td>
                <td>
                    <button ui-sref="openlmis.administration.geographicZones.view({id: geographicZone.id})">{{'adminGeographicZoneAdd.view' | message}}</button>
                </td>
            </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
