<h2>{{'adminBuqCategory.buqCategory' | message}}</h2>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.buqCategories || vm.buqCategories.length === 0">
            {{'adminBuqCategory.noBuqCategory' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'adminBuqCategory.code' | message}}</th>
            <th>{{'adminBuqCategory.name' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="buqCategory in vm.buqCategories">
            <td>{{buqCategory.code}}</td>
            <td>{{buqCategory.name}}</td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>