<h2>{{'facilityUpdateList.facilityUpdates' | message}}</h2>
<section class="openlmis-table-container">
    <table>
        <caption ng-if="!vm.pendingFacilityUpdates || vm.pendingFacilityUpdates.length === 0">
            {{'facilityUpdateList.noMatchesForSpecialization' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'facilityUpdateList.facilityNumber' | message}}</th>
            <th>{{'facilityUpdateList.facilityCode' | message}}</th>
            <th>{{'facilityUpdateList.hfrCode' | message}}</th>
            <th>{{'facilityUpdateList.facilityName' | message}}</th>
            <th>{{'facilityUpdateList.facilityType' | message}}</th>
            <th>{{'facilityUpdateList.region' | message}}</th>
            <th>{{'facilityUpdateList.council' | message}}</th>
            <th>{{'facilityUpdateList.status' | message}}</th>
            <th>{{'facilityUpdateList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="facilityUpdate in vm.pendingFacilityUpdates">
            <td>{{facilityUpdate.facilityNumber}}</td>
            <td>{{facilityUpdate.facilityCode}}</td>
            <td>{{facilityUpdate.hfrCode}}</td>
            <td>{{facilityUpdate.facilityName}}</td>
            <td>{{facilityUpdate.facilityType}}</td>
            <td>{{facilityUpdate.region}}</td>
            <td>{{facilityUpdate.council}}</td>
            <td>{{facilityUpdate.status ? 'Active':'Not Active'}}</td>
            <td>
                <button ng-click="vm.applyFacilityUpdate(facilityUpdate)">
                    {{'facilityUpdateList.accept' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
