.buq {
  .buq-page-responsive {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
    border: 0;
    background: #ffffff;
    padding: 1em 2em;

    .breadcrumb {
      padding-left: 0;
      font-size: 14px;
    }
  }

  .pagination-responsive {
    margin-bottom: 70px;
  }

  .forecast-table-container {
    overflow-x: hidden;

    td {
      position: relative;
    }

    .category-row {
      td {
        background: linear-gradient(to bottom, #1eb2bb, #1b9da5 10%, #17888F);
        color: white;
      }
    }

    .suggestions-input {
      .not-selected {
        width: unset;
      }
    }

    .suggestions-results {
      z-index: 1;
      position: absolute;
      left: 0;
      max-height: 7em;
    }
  }
}

.fa-check-container {
  display: table;
  margin: auto
}

.header-moh-approve-status-icon {
  display: flex;
  gap: 5px
}

.header-moh-approve-status-icon > fa-info-circle {
  margin: auto;
}

.header-moh-approve-status-icon > .tooltip-container > .tooltip {
  white-space: break-spaces;
  transform: translate(-30%, 115%);
  bottom: 0;
  padding: 8px 15px 8px 8px;
  height: fit-content;
  width: 200px;

  &:before {
    top: -25%;
    left: 28%;
    border-width: 8px;
    border-color: transparent transparent #fff transparent;
  }
}
