.admin-buq-navigation {
  margin-top: 1em;
  border-bottom: #D9D9D9 1px solid;
  list-style: none;
  display: flex;
  padding-left: 0;

  .admin-buq-link {
    background-color: #E4E4E4;
    padding: 10px 15px;
    border-radius: 4px 4px 0 0;
    margin-right: 2px;
    cursor: pointer;
  }

  .admin-buq-link.active {
    background-color: #FFFFFF;
    border: #D9D9D9 1px solid;
    border-bottom: none;
    color: $link-color;
  }
}
.top-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.flex-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-form {
  margin: 0em;
}
.search-form1 {
  margin: 0.5em;
}
