nav.service-desk-list {

  > ul {

    padding: 0;

    li.tab-pane {
      padding: 1em;
    }

    li a {
      text-decoration: none;
    }
  }

  div.button-group {
    max-width: 440px;
  }

  .sidebar {
    width: 39em !important;
  }

  form {
    max-width: 500px !important;
  }

  iframe {
    width: 500px;
    min-height: 510px !important;
  }
  div.openlmis-toolbar {
    max-width: 600px !important;
  }
}