<h2>{{'serviceDeskList.title' | message}}</h2>

<nav class="service-desk-list">
    <ul bs-active-pane="vm.selectedTab" bs-tabs>

        <li bs-pane data-title="{{'serviceDesk.faq' | message}}">

            <form class="sidebar" name="faq">
                <section class="openlmis-table-container">

                    <table>
                        <caption ng-if="!vm.faqArticles || vm.faqArticles.length === 0">
                            {{'serviceDesk.materialNotFound' | message}}
                        </caption>
                        <thead>
                        <tr>
                            <th>{{'serviceDesk.articleNumber' | message}}</th>
                            <th>{{'serviceDesk.articleTitle' | message}}</th>
                            <th>{{'serviceDesk.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="article in vm.faqArticles">
                            <td>{{$index + 1}}</td>
                            <td>{{article.title}}</td>
                            <td>
                                <button ng-click="vm.viewArticleContent(article)">{{'serviceDesk.view' | message}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </section>

            </form>

            <section class="openlmis-table-container" ng-show="vm.selectedTab === 0">

                <div tab-scroll>
                    <div class="support">
                        <p>
                        <h3>{{vm.title}}</h3></p>
                        <p>
                            <iframe class="topic-iframe" ng-src="{{vm.iframeSrc}}"></iframe>
                        </p>
                    </div>

                </div>

            </section>

        </li>

        <li bs-pane data-title="{{'serviceDesk.referenceMaterials' | message}}">
            <form class="sidebar" name="materials">
                <section class="openlmis-table-container">

                    <table>
                        <caption ng-if="!vm.archives || vm.archives.length === 0">
                            {{'serviceDesk.materialNotFound' | message}}
                        </caption>
                        <thead>
                        <tr>
                            <th>{{'serviceDesk.articleNumber' | message}}</th>
                            <th>{{'serviceDesk.articleTitle' | message}}</th>
                            <th>{{'serviceDesk.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="article in vm.archives">
                            <td>{{$index + 1}}</td>
                            <td>{{article.title}}</td>
                            <td>
                                <button ng-click="vm.viewArchiveContent(article)">{{'serviceDesk.view' | message}}
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </section>

            </form>

            <section class="openlmis-table-container" ng-show="vm.selectedTab === 1">

                <div tab-scroll>
                    <div class="support2">
                        <p>
                        <h3>{{vm.title}}</h3></p>
                        <p>
                            <iframe class="topic-iframe" ng-src="{{vm.iframeSrc}}"></iframe>
                        </p>
                    </div>

                </div>

            </section>

        </li>

        <li bs-pane data-title="{{'serviceDesk.contactSupport' | message}}">
            <ng-include src="'tanzania-service-desk-list/service-desk.html'"></ng-include>
            <!--<div class="button-group">
                <button class="primary" form="associatedPrograms" type="submit">
                    {{'adminFacilityView.savePrograms' | message}}
                </button>
                <button ng-click="vm.goToFacilityList()">{{'adminFacilityView.cancel' | message}}</button>
            </div>-->
        </li>

    </ul>
</nav>
