<h2>{{'report.viewReports' | message}}</h2>
<div class="openlmis-table-container">
    <table>
        <caption class="error" ng-show="!vm.reports.length && !vm.supersetReports">
            {{'report.noReports' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'report.report' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="report in vm.reports">
            <td>
                <a ui-sref=".generate({module: report.$module, report: report.id})">{{report.name}}</a>
            </td>
        </tr>
        <tr ng-repeat="report in vm.supersetReports">
            <td ng-if="vm.hasRight(report.right)">
                <a ui-sref="{{'.superset.' + report.code}}">{{ 'report.superset.' + report.code | message}}</a>
            </td>
        </tr>
        <tr ng-repeat="report in vm.notificationReports">
            <td>
                <a ui-sref=".notification({report: report.id})">{{report.name}}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>