<h2>{{'report.stock.notification' | message}}</h2>

    <section class="openlmis-table-container">

        <table>
            <caption ng-if="!vm.stockNotifications || vm.stockNotifications.length === 0">
                {{'report.noReports' | message}}
            </caption>
            <thead>
            <tr>
                <th>{{'report.number' | message}}</th>
                <th>{{'report.customerId' | message}}</th>
                <th>{{'report.customerName' | message}}</th>
                <th>{{'report.elmisOrderNumber' | message}}</th>
                <th>{{'report.notificationDate' | message}}</th>
                <th>{{'report.msdZone' | message}}</th>
                <th>{{'report.action' | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="notification in vm.stockNotifications">
                <td>{{$index + 1}}</td>
                <td>{{notification.customerId}}</td>
                <td>{{notification.customerName}}</td>
                <td>{{notification.elmisOrderNumber}}</td>
                <td>{{notification.notificationDate}}</td>
                <td>{{notification.zone}}</td>
                <td>
                    <button ng-click="vm.print(notification)">{{'report.print' | message}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </section>