<h2>{{ 'report.superset.' + vm.reportCode | message }}</h2>
<p>
    {{ 'report.superset.auth.pageRequiresAuthorization' | message }}
    <a href="{{vm.authUrl}}">{{ 'report.superset.auth.clickingHere' | message }}</a>
</p>
<iframe ng-if='vm.isReady' seamless frameBorder="0" scrolling="auto" ng-src="{{vm.reportUrl}}"></iframe>