<h2>{{'stockOutNotificationList.stockOutNotifications' | message}}</h2>
<section class="openlmis-table-container">
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="facilityName">{{'stockOutNotificationList.facilityName' | message}}</label>
            <input type="text" id="facilityName" ng-model="vm.facilityName"/>
        </fieldset>
        <input type="submit" value="{{'stockOutNotificationList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.userStockOutNotifications || vm.userStockOutNotifications.length === 0">
            {{'stockOutNotificationList.noMatchesForStockOutNotification' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'stockOutNotificationList.facilityCode' | message}}</th>
            <th>{{'stockOutNotificationList.hfrCode' | message}}</th>
            <th>{{'stockOutNotificationList.facilityName' | message}}</th>
            <th>{{'stockOutNotificationList.district' | message}}</th>
            <th>{{'stockOutNotificationList.region' | message}}</th>
            <th>{{'stockOutNotificationList.program' | message}}</th>
            <th>{{'stockOutNotificationList.period' | message}}</th>
            <th>{{'stockOutNotificationList.orderNumber' | message}}</th>
            <th>{{'stockOutNotificationList.quoteNumber' | message}}</th>
            <th>{{'stockOutNotificationList.notificationDate' | message}}</th>
            <th>{{'stockOutNotificationList.comment' | message}}</th>
            <th>{{'stockOutNotificationList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="notification in vm.userStockOutNotifications">
            <td>{{notification.customerId}}</td>
            <td>{{notification.hfrCode}}</td>
            <td>{{notification.facility.name}}</td>
            <td>{{notification.facility.geographicZone.name}}</td>
            <td>{{notification.facility.geographicZone.parent.name}}</td>
            <td>{{notification.program.name}}</td>
            <td>{{notification.processingPeriod.name}}</td>
            <td>{{notification.elmisOrderNumber}}</td>
            <td>{{notification.quoteNumber}}</td>
            <td>{{notification.notificationDate}}</td>
            <td>{{notification.comment}}</td>
            <td>
                <button openlmis-download="{{vm.getPrintUrl(notification)}}" class="print fa fa-print">
                    {{'stockOutNotificationList.print' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
