<div class="modal add-products-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    {{'notFunctionalEquipmentsModal.title' | message}}
                </h4>
            </div>

            <div class="modal-body">
                <section>
                    <h1> {{'notFunctionalEquipmentsModal.message' | message}}</h1>

                    <div class="openlmis-table-container">
                        <table class="openlmis-table">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Equipment</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(orderable, equipments) in vm.notFunctionalEquipmentProducts">
                                <td>{{orderable}}</td>
                                <td>
                                    <ol>
                                        <li ng-repeat="equipment in equipments">
                                            {{equipment.equipment.name}}
                                        </li>
                                    </ol>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="modal-footer">
                <button ng-click="$hide()">{{'notFunctionalEquipmentsModal.cancel' | message}}</button>
                <button ng-click="vm.confirm()" class="primary">
                    {{'notFunctionalEquipmentsModal.proceed' | message }}
                </button>
            </div>

        </div>
    </div>
</div>