<style>
    #content {
        min-width: 1050px;
        right: 250px !important;
    }
    #integerValue {
        text-align: right;
    }
</style>
<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="content">
            <div class="modal-header">
                <h1>Pending Items ({{vm.pendingItemsList.length}})</h1>
            </div>
            <div class="modal-body">
                <section class="openlmis-table-container">
                    <form ng-submit="vm.search()">
                        <fieldset class="form-group">
                            <label for="code">{{'adminOrderableList.code' | message}}</label>
                            <input type="text" id="code" ng-model="vm.code"/>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="name">{{'adminOrderableList.name' | message}}</label>
                            <input type="text" id="name" ng-model="vm.name"/>
                        </fieldset>
                        <input type="submit" value="{{'adminOrderableList.search' | message}}"/>
                    </form>

                    <table>
                        <caption ng-if="!vm.pendingItemsList || vm.pendingItemsList.length === 0">
                            {{'adminOrderableList.products.error' | message}}
                        </caption>
                        <thead>
                        <tr>
                            <th>{{'adminOrderableList.number' | message}}</th>
                            <th>{{'adminOrderableList.itemCode' | message}}</th>
                            <th>{{'adminOrderableList.code' | message}}</th>
                            <th>{{'adminOrderableList.name' | message}}</th>
                            <th>{{'adminOrderableList.uom' | message}}</th>
                            <th>{{'adminOrderableList.revision' | message}}</th>
                            <th>{{'adminOrderableList.price' | message}}</th>
                            <th>{{'adminOrderableList.packSize' | message}}</th>
                            <th>{{'adminOrderableList.actions' | message}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="orderable in vm.pendingItemsList track by orderable.code ">
                            <td>{{$index + 1}}</td>
                            <td>{{orderable.itemCode}}</td>
                            <td>{{orderable.code}}</td>
                            <td>{{orderable.primaryName}}</td>
                            <td>{{orderable.uom}}</td>
                            <td>{{orderable.revision}}</td>
                            <td id="integerValue">{{orderable.price}}</td>
                            <td id="integerValue">{{orderable.packSize}}</td>
                            <td>
                                <button class="primary" ng-click="vm.acceptOrderable(orderable)">
                                    {{'adminOrderableList.accept' | message}}
                                </button>
            <!--                    <button class="primary" ui-sref=".edit.general({id: orderable.id})">
                                    {{'adminOrderableList.accept' | message}}
                                </button>-->
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </section>
            </div>
            <div class="modal-footer">
                <button ng-click="vm.goToOrderableList()">{{'adminOrderableAdd.cancel' | message}}</button>
            </div>
        </div>
    </div>
</div>