.requisition-summary dl > dt{
    &::after{
        content: ":";
    }
}

aside.requisition-summary {
    @include clearfix();
    width:auto;
    max-width:inherit;
    box-sizing:border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $space-size;
    > * {
        display: block;
        flex: 1 0 auto;
    }
    > button{
        flex-grow: 0;
    }
    > dl{
        justify-content: flex-end;
        padding: 0 $space-size 0 0;
        > dt {
            width: auto;
            position: relative;
            top: 0;
            margin-right: 0.5em;
        }
        > dd{
            flex-grow: 0;
        }
    }

    > button {
        @extend button.primary;
        @include button-icon-only("list");
    }
}

.popover.requisition-summary{
    height: auto;
    width:400px !important;

    td,
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 8px;
    }

    td {
        text-align: right;
    }

    tr:nth-child(even) {
        background-color: #eee;
    }

    th[scope="col"] {
        background-color: #696969;

    }

    th[scope="row"] {
        background-color: #d7d9f2;
    }

    caption {
        padding: 10px;
        caption-side: top;
    }

    table {
        border-collapse: collapse;
        border: 1px solid rgb(200, 200, 200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: 11px;
    }

}

.fund-source-summary {

    dl {
      display: grid;
      grid-template-columns: max-content auto;
    }

    dt {
      grid-column-start: 1;
      margin-top: 1px;
    }

    dd {
      grid-column-start: 2;
    }


}

#sourceOfFundName {
    text-align: left
}