<section class="openlmis-flex-table">
    <table>
        <tr>
            <th scope="row">{{'requisitionSummary.allocatedBudget' | message}}</th>
            <td>{{vm.budgetAmount | openlmisCurrency}}</td>
        </tr>
        <tr>
            <th scope="row">{{'requisitionSummary.totalSupplementalFund' | message}}</th>
            <td>{{vm.calculateTotalSupplementalFunds() | openlmisCurrency}}</td>
        </tr>
        <tr>
            <th scope="row">{{'requisitionSummary.fullSupplyProducts' | message}}</th>
            <td>{{vm.calculateFullSupplyCost() | openlmisCurrency}}</td>
        </tr>
        <tr ng-if="vm.showNonFullSupplySummary">
            <th scope="row">{{'requisitionSummary.nonFullSupplyProducts' | message}}</th>
            <td>{{vm.calculateNonFullSupplyCost() | openlmisCurrency}}</td>
        </tr>
        <tr>
            <th scope="row">{{'requisitionSummary.netBalance' | message}}</th>
            <td>{{vm.budgetAmount + vm.calculateTotalSupplementalFunds()
                - vm.calculateFullSupplyCost()  | openlmisCurrency }}</td>
        </tr>
    </table>
    <br/>

        <div class="openlmis-table-container" ng-if="vm.otherSourcesOfFunds.length > 0">
            <p>
                {{ 'requisitionSummary.requisition.fund.source.label.summary' | message}}
            </p>
            <table>
                <thead>
                <tr>
                    <th>{{'requisitionView.fund.source' | message}}</th>
                    <th>{{'requisitionView.budget.remaining.amount'| message}}</th>
                    <th >{{'requisitionView.budget.amount' | message}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sourceOfFund in vm.otherSourcesOfFunds">

                    <td id="sourceOfFundName">{{sourceOfFund.sourceOfFundName}}</td>
                    <td id="remaining">{{sourceOfFund.budgetAmount - sourceOfFund.amount | openlmisCurrency }}</td>
                    <td id="amount">{{sourceOfFund.amount | openlmisCurrency}}</td>
                </tr>
                </tbody>
            </table>
        </div>

</section>
