<aside class="requisition-summary" style="background-color:'red' !important">
    <dl>
        <dt ng-if="vm.validateRequisitionCost()">{{'requisitionSummary.totalSupplementalFund' | message}}</dt>
        <dd ng-if="vm.validateRequisitionCost()">{{vm.calculateTotalSupplementalFunds() | openlmisCurrency}}</dd>
        <dd ng-if="vm.validateRequisitionCost()">|</dd>
        <dt>{{'requisitionSummary.allocatedBudget' | message}}</dt>
        <dd>{{vm.budgetAmount | openlmisCurrency}}</dd>
        <dd>|</dd>
        <dt>{{'requisitionSummary.totalRequisitionCost' | message}}</dt>
        <dd>{{vm.calculateTotalCost() | openlmisCurrency}}</dd>
    </dl>
    <button openlmis-popover popover-title="{{'requisitionSummary.requisitionCost' | message}}" popover-class="requisition-summary" popover-template="requisition-summary/requisition-summary-popover.html">
        {{'requisitionSummary.showDetails' | message}}
    </button>
</aside>
