.bottom-line {
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 8px;
}

.react-table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  width: fit-content;

  .react-table {
    margin-top: 16px;

    th {
      padding-right: 48px;
    }

    .proceed {
      border-radius: 4px;
      border: 1px solid $mw-teal;
      background: $mw-teal;
      color: #FFF;
      text-shadow: 0 0 0.1em #333;
      background-image: linear-gradient(to bottom, #1eb2bb, #1b9da5 10%, #17888F);

      &:hover {
        background-image: none;
      }
    }

    a {
      color: #FFF;
      text-shadow: 0 0 0.1em #333;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
