<h2>{{'adminFacilityList.facilities' | message}}</h2>
<section class="openlmis-table-container">
    <button id="add-facility" class="add" ng-click="vm.goToAddFacilityPage()">
        {{'adminFacilityList.addFacility' | message}}
    </button>
    <button id="pending-facility-updates" class="add" ui-sref="openlmis.administration.facilityUpdates">
        {{'facilityUpdateList.pendingFacilityUpdates' | message}}
    </button>
    <form ng-submit="vm.search()">
        <fieldset class="form-group">
            <label for="facilityName">{{'adminFacilityList.name' | message}}</label>
            <input type="text" id="facilityName" ng-model="vm.facilityName"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="geographicZone">{{'adminFacilityList.geographicZone' | message}}</label>
            <select id="geographicZone" ng-model="vm.geographicZone"
                    ng-options="zone.id as zone.name for zone in vm.geographicZones">
            </select>
        </fieldset>
        <input type="submit" value="{{'adminFacilityList.search' | message}}"/>
    </form>
    <table>
        <caption ng-if="!vm.facilities || vm.facilities.length === 0">
            {{'adminFacilityList.noFacilities' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'adminFacilityList.name' | message}}</th>
            <th>{{'adminFacilityList.code' | message}}</th>
            <th>{{'adminFacilityList.hfrCode' | message}}</th>
            <th>{{'adminFacilityList.geographicZone' | message}}</th>
            <th>{{'adminFacilityList.type' | message}}</th>
            <th>{{'adminFacilityList.active' | message}}</th>
            <th>{{'adminFacilityList.enabled' | message}}</th>
            <th>{{'adminFacilityList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="facility in vm.facilities">
            <td>{{facility.name}}</td>
            <td>{{facility.code}}</td>
            <td>{{facility.extraData.hfrCode}}</td>
            <td>{{facility.geographicZone.name}}</td>
            <td>{{facility.type.name}}</td>
            <td>
                <i ng-class="{'icon-ok': facility.active}"></i>
            </td>
            <td>
                <i ng-class="{'icon-ok': facility.enabled}"></i>
            </td>
            <td>
                <button ui-sref="openlmis.administration.facilities.edit({id: facility.id})">{{'adminFacilityList.edit' | message}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>