.modal {
    position: fixed;
    top: 0;
    @include left(0);
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .modal-main {
    position:fixed;
    background: white;
    height: auto;
    top:50%;
    @include left(50%);
    //TODO: apply here a mixin once the ui-components is merged translate-xy(-50%,-50%);
    transform: translate(-50%, -50%);
    width: 600px;
    margin: 30px auto;
  }

  .display-block {
    display: block;
  }

  .display-none {
    display: none;
  }