<div class="modal edit-schedule-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{'adminProcessingScheduleEdit.addProcessingPeriod.title' | message:({scheduleCode: vm.processingSchedule.code})}}</h1>
      </div>
      <div class="modal-body">
        <p>{{'adminProcessingScheduleEdit.addProcessingPeriod.description' | message}}</p>
        <form id="add-processing-period-form" ng-submit="vm.add()">
          <label for="name">{{'adminProcessingScheduleEdit.name' | message}}</label>
          <input type="text" id="name" ng-model="vm.newPeriod.name" required />

          <label for="description">{{'adminProcessingScheduleEdit.description' | message}}</label>
          <input type="text" id="description" ng-model="vm.newPeriod.description" />

          <label for="start-date">{{'adminProcessingScheduleEdit.startDate' | message}}</label>
          <input id="start-date" type="date"
                 max-date="vm.newPeriod.endDate"
                 ng-model="vm.newPeriod.startDate"
                 ng-disabled="vm.processingPeriods && vm.processingPeriods.length > 0 && !vm.newPeriod.enableStartDate"
                 required/>

          <label for="end-date">{{'adminProcessingScheduleEdit.endDate' | message}}</label>
          <input id="end-date" type="date" min-date="vm.newPeriod.startDate" ng-model="vm.newPeriod.endDate" required/>

          <label>{{'adminProcessingScheduleEdit.requisitionSettings' | message}}</label>
          <label class="checkbox">
            <input id="report-only" type="checkbox" ng-model="vm.newPeriod.extraData.reportOnly" />
            {{'adminProcessingScheduleEdit.reportOnly' | message}}
          </label>&nbsp;
          <label class="checkbox">
            <input id="open-start-date" type="checkbox" ng-model="vm.newPeriod.enableStartDate" />
            {{'adminProcessingScheduleEdit.enable.start.date' | message}}
          </label>
          &nbsp;
          <button class="add" type="submit">{{'adminProcessingScheduleEdit.add' | message}}</button>
        </form>
        <section class="openlmis-table-container">
          <table>
            <caption ng-if="!vm.processingPeriods || vm.processingPeriods.length === 0">
              {{'adminProcessingScheduleEdit.noPeriodsAssigned' | message:({scheduleCode: vm.processingSchedule.code})}}
            </caption>
            <thead>
            <tr>
              <th>{{'adminProcessingScheduleEdit.name' | message}}</th>
              <th>{{'adminProcessingScheduleEdit.description' | message}}</th>
              <th openlmis-popover="{{'adminProcessingScheduleEdit.startDate.description' | message}}">
                {{'adminProcessingScheduleEdit.startDate' | message}}
              </th>
              <th>{{'adminProcessingScheduleEdit.endDate' | message}}</th>
              <th>{{'adminProcessingScheduleEdit.reportOnly' | message}}</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="period in vm.processingPeriods">
              <td>{{period.name}}</td>
              <td>{{period.description}}</td>
              <td>{{period.startDate | openlmisDate}}</td>
              <td>{{period.endDate | openlmisDate}}</td>
              <td>
                <i ng-class="{'is-report-only': period.extraData.reportOnly == 'true' || period.extraData.reportOnly == true}"></i>
              </td>
              <td>
                <button class="danger" ng-click="vm.deleteProcessingPeriod(period)">
                  {{'adminProcessingScheduleEdit.deleteProcessingPeriod' | message}}
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <openlmis-pagination/>
        </section>
      </div>
      <div class="modal-footer">
        <button id="cancel" ng-click="vm.goToPreviousState()">{{'adminProcessingScheduleEdit.cancel' | message}}</button>
      </div>
    </div>
  </div>
</div>