<ul>
    <li class="nav-item" ng-repeat="state in vm.states"
        ng-class="{'dropdown':vm.hasChildren(state), 'dropdown-submenu':vm.isSubmenu(state)}"
        ng-if="state.$shouldDisplay">
        <a class="nav-link" ng-if="vm.hasChildren(state) && state.name !== 'openlmis.administration'"
           bs-dropdown="dropdown">{{state.label | message}}</a>
        <a class="nav-link" data-toggle="collapse" data-target="#navbarToggler" ng-if="!vm.hasChildren(state)" offline
           ng-class="{'is-offline':(!vm.isOffline(state) && isOffline)}"
           ng-disabled="(!vm.isOffline(state) && isOffline)" ui-sref="{{state.name}}">{{state.label | message}}</a>
        <openlmis-navigation ng-if="vm.hasChildren(state)" class="dropdown-menu"
                             states="state.children"></openlmis-navigation>
    </li>

    <!--
        Added  specific for  menu
    -->
    <li ng-repeat="item in vm.adminMenuList" class="nav-item" ng-if="vm.adminMenuList.length > 0">
        <a ng-if="!item.children.length" href="{{item.url}}" class="nav-link">{{item.label | message }}</a>

        <a ng-if="item.children.length > 0" href="javascript: void(0);" class="nav-link dropdown-toggle"
           data-toggle="dropdown">{{item.label | message}}
        </a>

        <ul class="dropdown-menu">
            <li class="dropdown-submenu" ng-repeat="lastItem in item.children">
                <a class="test" tabindex="-1" href="javascript: void(0);">{{lastItem.name}}</a>

                <openlmis-navigation class="dropdown-menu" states="lastItem.children"></openlmis-navigation>
            </li>
        </ul>
    </li>

</ul>