<div class="budget-requisition-modal modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{'requisitionView.budget.requisition.title' | message}}</h4>
            </div>
            <div class="modal-body">
                <p ng-if="vm.message">{{'requisitionView.add.source.of.fund.message' | message}}</p>

                <form class="form-inline ng-pristine ng-scope ng-invalid ng-invalid-required" ng-if="!vm.isDisabled" ng-submit="vm.addSourceOfFund()" reload-form="" novalidate="">
                    <div class="form-group sourceOfFundBudget">
                        <label for="sourceOfFund" class="ng-binding is-required">
                            {{'requisitionView.fund.source' | message}}

                        </label>
                        <div class="input-control ng-scope" input-control="" openlmis-invalid="">

                            <select id="sourceOfFund"
                                    ng-model="vm.sourceOfFund"
                                    ng-options='sourceOfFund as (sourceOfFund.sourceOfFundName +" - "+ sourceOfFund.budgetAmount)  for sourceOfFund in vm.sourceOfFunds | orderBy:budgetAmount'
                                    required>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="budgetAmount" class="ng-binding is-required">
                            {{'requisitionView.budget.amount' | message}}

                        </label>
                        <div class="input-control ng-scope" input-control="" openlmis-invalid="">
                            <input id="budgetAmount" class="form-control ng-pristine ng-untouched ng-scope number ng-empty ng-invalid ng-invalid-required"
                                   ng-model="vm.sourceOfFund.amount" required="" positive-integer="" name="vm.budgetAmount" type="text"></div>
                    </div>
                    <button class="add ng-binding" type="submit">
                       Add
                    </button>
                </form>

                <form id="requisitionBudgetForm" ng-submit="vm.save()">
                    <div class="openlmis-table-container">
                        <table>
                            <caption class="source-of-fund-warning alert is-info"
                                     ng-show="vm.selectedSourceOfFunds === null || vm.selectedSourceOfFunds.length === 0">
                                {{'requisitionView.source.fund.warning.message' | message}}
                            </caption>
                            <thead>
                            <tr>
                                <th>{{'requisitionView.fund.source' | message}}</th>
                                <th>{{'requisitionView.budget.remaining.amount'| message}}</th>
                                <th >{{'requisitionView.budget.amount' | message}}</th>
                                <th >{{'requisitionView.budget.action' | message}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sourceOfFund in vm.selectedSourceOfFunds">

                                <td>{{sourceOfFund.sourceOfFundName}}</td>
                                <td id="remaining">{{sourceOfFund.budgetAmount - sourceOfFund.amount | openlmisCurrency }}</td>
                                <td id="amount">{{sourceOfFund.amount | openlmisCurrency}}</td>
                                <td>
                                    <input type="button" class="danger"
                                           ng-click="vm.removeBudgetRequisition(sourceOfFund)"
                                           value="{{'requisitionView.requisition.budget.action.remove' | message}}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
                <br/>
                <dl class="totalSupplementalFund">
                    <dt class="ng-binding ng-scope">Total Supplemental Funds :
                    <dd>{{vm.totalSupplementalFunds() | openlmisCurrency}}</dd>
                    </dt>
                </dl>
            </div>
            <div class="modal-footer" ng-if="!vm.isDisabled">
                <button class="btn btn-default" ng-click="vm.cancel()">
                    {{'requisitionView.requisition.budget.cancel' | message}}
                </button>
                <button class="btn btn-primary" form="requisitionBudgetForm" type="submit">
                    {{'requisitionView.requisition.budget.update' | message}}
                </button>
            </div>
        </div>
    </div>
</div>
