<header>
    <h2>{{:: 'requisitionView.reportAndRequisitionFor' | message}} {{vm.program.name}} ({{vm.facility.type.name}})</h2>
    <button ng-disabled="vm.isOffline()" ng-click="vm.syncRnrAndPrint()" class="primary">
        {{::'requisitionView.print' | message}}
    </button>
</header>

<p class="alert is-error" ng-if="vm.requisition.$outdated">
    {{:: 'requisitionView.outdated' | message}}
    <button ng-click="vm.updateRequisition()">
        {{:: 'requisitionView.update' | message }}
    </button>
</p>

<ng-include src="'requisition-view/header.html'"></ng-include>
<status-messages requisition="vm.requisition"></status-messages>
<nav>
    <ul>
        <li ui-sref-active="active" role="presentation" ng-if="vm.requisition.template.patientsTabEnabled">
            <a ui-sref="openlmis.requisitions.requisition.patients">
                {{:: 'requisitionView.patients' | message}}
            </a>
        </li>
        <li ui-sref-active="active" role="presentation" ng-class="{'is-invalid': !vm.isFullSupplyTabValid()}"
            openlmis-popover="{{vm.invalidFullSupply}}">
            <a ui-sref="openlmis.requisitions.requisition.fullSupply">
                {{:: 'requisitionView.fullSupplyProducts' | message}}
            </a>
        </li>
        <li ui-sref-active="active" ng-if="vm.program.showNonFullSupplyTab" role="presentation"
            ng-class="{'is-invalid': !vm.isNonFullSupplyTabValid()}" openlmis-popover="{{vm.invalidNonFullSupply}}">
            <a ui-sref="openlmis.requisitions.requisition.nonFullSupply">
                {{:: 'requisitionView.nonFullSupplyProducts' | message}}
            </a>
        </li>
        <li ui-sref-active="active" role="presentation" ng-if="!vm.requisition.isReportOnly" ng-show="true">
            <a ui-sref="openlmis.requisitions.requisition.malaria-validation">
                {{:: 'requisitionView.malariaValidation' | message}}
            </a>
        </li>
    </ul>
</nav>

<div ui-view="" />

<requisition-summary requisition="vm.requisition"/>

<ng-include src="'requisition-view/requisition-toolbar.html'" />
