<div class="requisition-template-admin">
    <h2>{{'adminProgramTemplate.configureTemplateColumns' | message}}</h2>
    <aside>
        <label>
            <input type="checkbox" id="enableStockOnHand"
                ng-model="vm.template.populateStockOnHandFromStockCards"
                ng-change="vm.template.changePopulateStockOnHandFromStockCards()"/>
            {{'adminProgramTemplate.enableStockOnHand.label' | message}}
        </label>
        <p>{{'adminProgramTemplate.enableStockOnHand.description' | message}}</p>
    </aside>
    <div class="openlmis-table-container">
        <table class="openlmis-table">
            <thead>
                <tr>
                    <th></th>
                    <th>{{'adminProgramTemplate.display' | message}}</th>
                    <th></th>
                    <th>{{'adminProgramTemplate.label' | message}}</th>
                    <th>{{'adminProgramTemplate.definition' | message}}</th>
                    <th>{{'adminProgramTemplate.source' | message}}</th>
                    <th>{{'adminProgramTemplate.additionalOptions' | message}}</th>
                </tr>
            </thead>
            <tbody dnd-list="vm.template.columnsMap" dnd-drop="vm.dropCallback(event, index, item)">
                <tr ng-repeat="column in vm.template.columnsMap | orderObjectBy:'displayOrder'" dnd-draggable="column" dnd-disable-if="!column.columnDefinition.canChangeOrder" dnd-effect-allowed="move">
                    <dnd-nodrag>
                        <td ng-class="{'dnd-handle': column.columnDefinition.canChangeOrder}">
                            <i ng-if="!column.columnDefinition.canChangeOrder" class="lock"/>
                            <div ng-if="column.columnDefinition.canChangeOrder" dnd-handle class="handle">:::</div>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="column.isDisplayed" ng-disabled="column.columnDefinition.isDisplayRequired" ng-change="vm.updateSourceForColumn(column)">
                        </td>
                        <td>
                            <div class="circle">
                                <div class="inner-circle">{{column.indicator}}</div>
                            </div>
                        </td>
                        <td>
                            <input disable-drag type="text" ng-model="column.label" class="form-control"></input>
                        </td>
                        <td>
                            <input characters-left ng-maxlength="{{vm.maxColumnDescriptionLength}}" disable-drag ng-model="column.definition" class="form-control" type="text"></input>
                        </td>
                        <td>
                            <div ng-if="!vm.canChangeSource(column)">{{vm.sourceDisplayName(column.source)}}</div>
                            <div ng-if="vm.canChangeSource(column)">
                                <select ng-model="column.source" ng-options="source as vm.sourceDisplayName(source) for source in column.columnDefinition.sources"></select>
                            </div>
                        </td>
                        <td>
                            <div ng-if="vm.isAverageConsumption(column)">
                                <label for="numberOfPeriods">{{'adminProgramTemplate.numberOfPeriodsToAverage' | message}}</label>
                                <input disable-drag positive-integer id="numberOfPeriods" ng-model="vm.template.numberOfPeriodsToAverage" class="form-control"/>
                            </div>
                            <div ng-if="column.columnDefinition.options.length > 0">
                                <div ng-if="!vm.canChangeSource(column) && !vm.isPackToShip(column)">{{column.option.optionLabel | message}}</div>
                                <div ng-if="vm.canChangeSource(column) || vm.isPackToShip(column)">
                                    <select ng-model="column.option" ng-options="option as (option.optionLabel | message) for option in column.columnDefinition.options" ng-required="column.isDisplayed"></select>
                                </div>
                            </div>
                            <div ng-if="vm.template.canAssignTag(column.name)">
                                <label for="tag">{{'adminProgramTemplate.tag' | message}}</label>
                                <select id="tag" ng-model="column.tag" ng-options="tag for tag in vm.availableTags[column.name] | orderBy:'toString()'"
                                        ng-required="vm.template.populateStockOnHandFromStockCards" ng-change="vm.refreshAvailableTags()"></select>
                            </div>
                            <div class="error">{{vm.getColumnError(column, vm.template)}}</div>
                        </td>
                    </dnd-nodrag>
                </tr>
                <tr class="dndPlaceholder">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="openlmis-toolbar">
    <input type="button" ng-click="vm.saveTemplate()" class="primary" value="{{'adminProgramTemplate.save' | message}}"/>
    <input type="button" ng-click="vm.goToTemplateList()" value="{{'adminProgramTemplate.cancel' | message}}">
</div>