<h2>{{vm.buqSpecialization.name}} {{'buqSpecializationOrderableList.orderables' | message}} </h2>
<form name="saveBuqSpecializationOrderablesForm" id="saveBuqSpecializationOrderables"
      class="form-inline" ng-submit="vm.saveBuqSpecialization()">
    <section class="openlmis-table-container">
        <button type="button" class="add" ng-click="vm.addOrderables()">
            {{'buqSpecializationOrderableList.addOrderable' | message}}
        </button>
        <table>
            <caption
                    ng-if="!vm.buqSpecOrderables || vm.buqSpecOrderables.length === 0">
                {{'buqSpecializationOrderableList.noMatchesForSpecializationOrderable' | message}}
            </caption>
            <thead>
            <tr>
                <th>{{'buqSpecializationOrderableList.code' | message}}</th>
                <th>{{'buqSpecializationOrderableList.name' | message}}</th>
                <th>{{'buqSpecializationOrderableList.actions' | message}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderable in vm.buqSpecOrderablesPage">
                <td>{{orderable.productCode}}</td>
                <td>{{orderable.fullProductName}}</td>
                <td>
                    <button ng-click="vm.removeOrderable(orderable)" id="remove_{{$index}}"
                            type="button" class="danger">
                        {{'buqSpecializationOrderableList.remove' | message}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <openlmis-pagination list="vm.buqSpecOrderables"
                             paged-list="vm.buqSpecOrderablesPage"
                             pagination-id="'buqSpecOrderableList'"/>
    </section>
</form>

<div class="openlmis-toolbar">
    <button ng-click="vm.goToSpecializationList()">{{'buqSpecializationOrderableList.cancel' |
        message}}
    </button>
    <div class="button-group primary">
        <button class="primary" type="submit" form="saveBuqSpecializationOrderables">
            {{'buqSpecializationOrderableList.save' | message}}
        </button>
    </div>
</div>