<h2>{{'buqSpecializationAdd.addBuqSpecialization' | message}}</h2>
<ng-include src="'buq-specialization-add/buq-specialization-form.html'"></ng-include>
<div class="openlmis-toolbar button-group">
    <div class="button-group primary">
        <button ng-click="vm.save()" class="primary">
            {{'buqSpecializationAdd.addBuqSpecialization' | message}}
        </button>
    </div>
    <div class="button-group">
        <button ui-sref="^">{{'buqSpecializationAdd.cancel' | message}}</button>
    </div>
</div>