<form id="newBuqSpecializationForm" name="newBuqSpecializationForm" ng-submit="vm.save()">

    <label for="code">{{'buqSpecializationAdd.code' | message}}</label>
    <input id="code"
           name="buqSpecializationCode"
           type="text"
           ng-model="vm.buqSpecialization.code"
           required/>

    <label for="name">{{'buqSpecializationAdd.name' | message}}</label>
    <input id="name"
           name="buqSpecializationName"
           type="text"
           ng-model="vm.buqSpecialization.name"
           openlmis-invalid="{{vm.validateBuqSpecializationName() | message}}"
           required/>

    <label for="description">{{'buqSpecializationAdd.description' | message}}</label>
    <textarea id="description"
              name="buqSpecializationDescription"
              ng-model="vm.buqSpecialization.description">
    </textarea>

</form>