<h2>{{'buqSpecializationList.specializations' | message}}</h2>
<section class="openlmis-table-container">
    <button class="add" ui-sref="openlmis.administration.buqSpecializationsAdd">
        {{'buqSpecializationList.addSpecialization' | message}}
    </button>
    <table>
        <caption ng-if="!vm.specializations || vm.specializations.length === 0">
            {{'buqSpecializationList.noMatchesForSpecialization' | message}}
        </caption>
        <thead>
        <tr>
            <th>{{'buqSpecializationList.code' | message}}</th>
            <th>{{'buqSpecializationList.name' | message}}</th>
            <th>{{'buqSpecializationList.description' | message}}</th>
            <th>{{'buqSpecializationList.orderablesCount' | message}}</th>
            <th>{{'buqSpecializationList.facilitiesCount' | message}}</th>
            <th>{{'buqSpecializationList.actions' | message}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="specialization in vm.specializations">
            <td>{{specialization.code}}</td>
            <td>{{specialization.name}}</td>
            <td>{{specialization.description}}</td>
            <td>{{specialization.orderables.length}}</td>
            <td>{{specialization.facilities.length}}</td>
            <td>
                <button ui-sref="openlmis.administration.buqSpecializations.edit({id: specialization.id})">
                    {{'buqSpecializationList.edit' | message}}
                </button>
                <button ui-sref="openlmis.administration.buqSpecializationOrderables({id: specialization.id})">
                    {{'buqSpecializationList.manageOrderables' | message}}
                </button>
                <button ui-sref="openlmis.administration.buqSpecializationFacilities({id: specialization.id})">
                    {{'buqSpecializationList.manageFacilities' | message}}
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <openlmis-pagination/>
</section>
