<div class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1><span>Facilities in {{vm.districtName}}</span></h1>
            </div>
            <div class="modal-body">

                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#notify-facility" data-toggle="tab">Notify Facility</a>
                        </li>
                        <li>
                            <a href="#notify-supervisor" data-toggle="tab">Notify Supervisor</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="notify-facility">
                            <table ng-show="true" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Facility Name</th>
                                    <th>Phone</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in vm.facilitiesData">
                                    <td>
                  <!--<span data-toggle="tooltip" title="This facility has reported properly" class="icon-check green"
                        ng-show="row.reported"></span>-->
                                        <span ng-show="row.reported" class="checkbox-icon1" title="This facility has reported properly">&#10003;</span>
                                        <span ng-show="!row.reported" class="x-icon" title="This facility did not report for the period">&#10008;</span>
                                        <!--
                                        <span data-toggle="tooltip" title="This facility did not report for period"
                                              class="icon-warning-sign"
                                              style="color: red;" ng-show="!row.reported"></span>-->
                                        <!--
                                                                                ng-href="/webapp/#!/requisition/{{row.rnrId}}/fullSupply?fullSupplyListPage=0&fullSupplyListSize=10"
                                        -->
                                        <span ng-show=row.rnrId !=undefined"><a ng-href="">
                    {{ row.name }}
                  </a></span>
                                        <span ng-show="row.rnrId == undefined">{{ row.name }}</span>

                                    </td>
                                    <td>{{ row.mainPhone }}</td>

                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- supervisors tab --->
                        <div class="tab-pane" id="notify-supervisor" ng-show="false">

                            <div ng-show="show_email_supervisor">
                                <div>
                                    <p>
                                        Use this form to customize and send email notifications for
                                        <strong>{{selected_facility.name}}</strong>
                                    </p>

                                    <div style="padding: 10px;">
                                        <div>
                                            <textarea rows="4" style="width: 350px;"
                                                      ng-model="email_template_supervisor"></textarea>
                                        </div>
                                        <div>
                                            Who receives this notification?
                                            <div>
                                                <table class="table table-bordered">
                                                    <tr ng-repeat="contact in contacts">
                                                        <td><strong>{{contact.name}}</strong></td>
                                                        <td>{{contact.contact}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <a href="{{reportFilter}}" target="_blank">{{attachementCaption}}</a>
                                    </div>
                                </div>
                            </div>

                            <table ng-show="!show_email_supervisor" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Facility Name</th>
                                    <th>Phone</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in vm.facilitiesData">
                                    <td>
                  <span data-toggle="tooltip" title="This facility has reported properly" class="icon-check green"
                        ng-show="row.reported"></span>
                                        <span ng-show="!row.reported" class="x-icon" title="This facility did not report for the period">&#10008;</span>
<!--
                                        <span data-toggle="tooltip" title="This facility did not report for period"
                                              class="icon-check red"
                                              style="color: red;" ng-show="!row.reported"></span>-->
                                        <!--
                                                                                ng-href=/webapp/#!/requisition/{{row.rnrId}}/fullSupply?fullSupplyListPage=0&fullSupplyListSize=10">
                                        -->

                                        <span ng-show=row.rnrId !=undefined"><a
                                                {{ row.name }} ng-href="">
                  </a></span>
                                        <span ng-show="row.rnrId == undefined">{{ row.name }}</span>

                                    </td>
                                    <td>{{ row.mainPhone }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button id="cancel" ng-click="vm.closeModal()">{{'adminFacilityAdd.cancel' | message}}</button>
            </div>
        </div>
    </div>
</div>