<!DOCTYPE html>
<html lang="en">
<body>
<div class="page">
        <div ui-view class="row">

            <div class="col-md-12" >
                <h2>Reporting Rate

                <span class="pull-right">

                <button ng-show="vm.features && (vm.features | filter:expectedFilter).length > 0"
                   class="btn-small pull-right"  id="xls-button" ng-click="exportReport('XLS')">
                    <span>Export</span>
                </button>

                </span>
                </h2>
            </div>

            <div class="col-md-12" >

                <div class="row">

                    <div class="col-md-2">
                        <label for="program">{{'reportingRate.program' | message}}</label>
                        <select id="program" ng-model="vm.program"
                                ng-options="program as program.name for program in vm.programs"
                                required>
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="schedule">{{'reportingRate.schedule' | message}}</label>
                        <select id="schedule" ng-model="vm.schedule"
                                ng-options="schedule as schedule.name for schedule in vm.schedules">
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="year">{{'reportingRate.year' | message}}</label>
                        <select id="year" ng-model="vm.year" ng-change="vm.changeYearFilter()"
                                ng-options="year as year.name for year in vm.years">
                        </select>
                    </div>

                    <div class="col-md-2">
                        <label for="period">{{'reportingRate.period' | message}}</label>
                        <select id="period" ng-model="vm.period" ng-change="vm.OnFilterChanged()"
                                ng-options="period as period.name for period in vm.periods"
                                required>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Indicator</label>
                        <select id="indicatorType"
                                ng-model="vm.filter.indicatorType"
                                ng-change="vm.OnFilterChanged()"
                                ng-options="indicatorType as indicatorType.name for indicatorType in vm.indicatorTypes">
                        </select>
                  <!--      <select id="indicatorType"
                                ng-model="vm.filter.indicatorType"
                                ng-init="vm.filter.indicatorType = vm.defaultIndicator"
                                ng-change="vm.OnFilterChanged()"
                                ng-options="indicatorType as indicatorType.name for indicatorType in vm.indicatorTypes">
                        </select>-->
                     <!--   <select id="indicatorType" ng-model="vm.filter.indicatorType" ng-change="vm.OnFilterChanged()"
                                ng-options="indicatorType as indicatorType.name for indicatorType in vm.indicatorTypes"
                                value="{{indicatorType.code}}" ng-selected="indicatorType.code == vm.defaultIndicator">
                        </select>-->
                      <!--  <select style="width: 400px;" ng-model="filter.indicatorType" ng-change="OnFilterChanged()">

                            <option ng-repeat="type in vm.indicatorTypes" ng-selected="type.code == defaultIndicator"
                                    value="{{type.code}}">{{type.name}}
                            </option>
                        </select>-->
                    </div>

                </div>

            </div>
            <br/>
            <br/>
            <div class="col-md-7">
                <div style="padding-left: 0px;">
                    <leaflet width="100%" height="700px" legend="legend" geojson="geojson" layers="layers"></leaflet>
                </div>
            </div>
            <div class="col-md-5">
                <div style="" ng-show="true">
                    <p class="grey pull-right">
                        You can click on the chart to see list of facilities
                    </p>
                    <br/>
                    <div class="table-contain">
                     <table class="table table-striped table-scrollable scroll">
                        <thead>
                        <tr>
                            <th style="width:35%">District</th>
                            <th style="width:10%" class="number">Expected</th>
                            <th style="width:10% !important;" class="number">Reported</th>
                            <th style="width: 30%; text-align: right">% Reported</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="feature in vm.features | filter:vm.expectedFilter">
                            <td style="width:35% !important;">{{feature.name}}</td>
                            <td style="width:10% !important;" class="number">{{feature.expected}}</td>
                            <td style="width:10% !important;" class="number">{{feature.period}}</td>
                            <td style="width:30% !important;" class="number">
                                <div class="number" style="float:right;">{{((feature.period / feature.expected) * 100).toFixed(0)}} %</div>
                                <div class="progress" style="margin-bottom:0px;width:68%">
                                    <div class="bar bar-success leaflet-clickable1" ng-click="vm.openFacilityDetails(feature, this)"
                                         style="width: {{((feature.period / feature.expected) * 100).toFixed(2)}}%"></div>
                                    <div class="bar bar-danger leaflet-clickable1" ng-click="vm.openFacilityDetails(feature, this)"
                                         style="width: {{(100 - ((feature.period / feature.expected) * 100).toFixed(2))}}%"></div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD07vJu2ZJU2dvcXRD8Vjml4LTFT4JQLtM&callback=initMap" type="text/javascript"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>

</body>
</html>